PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/CareerPilot
JWT_SECRET=your_jwt_secret
OPENROUTER_API_KEY=your_openrouter_api_key
# GitHub Personal Access Token (PAT) to bypass API rate limit penalties (minimum user/repo read scopes required)
GITHUB_TOKEN=your_github_personal_access_token
FRONTEND_URL=your_deployed_frontend_url_for_cors
